
@using (Html.BeginForm("Upload", (string)ViewBag.controlName, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <p>
        <input type="text" name="Caption" class="form-control" title="Caption" />
    </p>
    <p>
        <input type="file" name="File" class="form-control btn btn-warning" />
    </p>
    <p>
        <input type="submit" value="Upload File" class="btn btn-warning" />
    </p>
}

