.body-content {
    background-color: rgba(221, 221, 221, 0.66);
}

.navbar-inverse {
    background-color: #FFF;
    border-color: rgba(0,0,0,.15);
}

    .navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
        color: #000;
    }

    .navbar-inverse .navbar-brand:hover, .navbar-inverse .navbar-brand:focus {
        color: #000;
    }

#banner h2 {
    color: lightgray;
    font-size: 32px;
}

.header-h {
    color: #000;
}

.logo-name {
    color: #FFF;
}

.menu-line {
    left: 166px;
    right: 44px;
    position: relative;
}

.menu-restaurant .menu-title {
    color: #000;
    font-weight: 600;
}

.radio .checkbox {
    padding-left: 0;
}

.menu-user {
    float: none;
}

.ans-textarea {
    width: 100%;
    max-width: 100%;
    border-right: solid;
    border-color: rgba(0,0,0,.1);
}

.menu-price {
    position: relative;
}

.pad-left {
    padding-left: 15px;
    width: 100%;
}

.double-bottom {
    margin-bottom: 60px;
}

.profile-pic {
    margin-top: 30px;
    border-radius: 50%;
    height: 200px;
    width: 200px;
    overflow: hidden;
}

.detail-attachment {
    max-height: 317px;
    max-width: 1108px;
    overflow: scroll;
}

.profile-header {
    background-color: rgba(0,0,0,.65);
}
