a {
    color: #000;
}

.body-content {
    background-color: rgba(221, 221, 221, 0.66);
}

.navbar-inverse {
    background-color: #FFF;
    border-color: rgba(0,0,0,.15);
}

    .navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
        color: #000;
    }

    .navbar-inverse .navbar-brand:hover, .navbar-inverse .navbar-brand:focus {
        color: #000;
    }

#banner h2 {
    color: lightgray;
    font-size: 32px;
}

.header-h {
    color: #000;
}

.logo-name {
    color: #FFF;
}

.menu-restaurant .menu-title {
    color: #000;
    font-weight: 600;
}

.radio .checkbox {
    padding-left: 0;
}

.menu-user {
    float: none;
}

.ans-textarea {
    width: 100%;
    max-width: 100%;
    border-right: solid;
    border-color: rgba(0,0,0,.1);
}

.menu-price {
    position: relative;
}

.pad-left {
    padding-left: 15px;
    width: 100%;
}

.double-bottom {
    margin-bottom: 60px;
}

.profile-pic {
    margin-top: 30px;
    border-radius: 50%;
    height: 200px;
    width: 200px;
    overflow: hidden;
}

.detail-attachment {
    max-height: 317px;
    max-width: 1108px;
    overflow: scroll;
}

.profile-header {
    background-color: rgba(0,0,0,.65);
}

.home-content {
    margin-top: 15px;
    margin-left: 10%;
    margin-right: 10%;
}

.padb-35 {
    padding-bottom: 35px;
}

/**********************************************
List styling for Home:Index
http://stackoverflow.com/questions/13233878/make-hover-on-liitem-li-change-text-colour-too-css-trick
*************************************************/

.home-content .main a {
    color: #000;
    display: block;
    text-decoration: none;
    padding: 4px;
}

.home-content a:hover {
    color: #FFF;
    text-decoration: none;
}

.home-content .row {
    list-style-type: none;
    display: inline-block;
    width: 100%;
}

.home-content:hover {
    background-color: #AAA;
}
